
<div class="more_text">
    <h1>
        Contact
    </h1>
    <div class="text">
        <h2>
            How May We Assist You?
        </h2>
        <p>Our dedicated support team is committed to resolving all your casino-related queries. Feel free to reach out to us anytime at support@Irishcasinolist.com . Whether you have questions or wish to share something, don't hesitate to contact us 24/7 via support@Irishcasinolist.com . </p>

    </div>
 

</div>