
<div class="more_text">
    <h1>
        Privacy Policy
    </h1>

    <p>
        Welcome to <span class="webSite">Irishcasinolist.com </span> We are committed to safeguarding and respecting your privacy while maintaining the confidence and trust of our users. This Privacy Policy outlines how we collect, use, and secure your personal information.
    </p>
 
 <p>
        This Privacy Policy pertains to the collection and utilization of information from users (each, a "User") of <span class="webSite">Irishcasinolist.com </span> (the "Website"). Please note that it solely applies to information gathered on this website and does not extend to the use of user information by any third-party websites linked from our pages.
 </p>




    <h1>INFORMATION COLLECTION, USE, AND SHARING</h1>
    <p>We are the exclusive owners of the information collected on this site, and we assure you that we will not sell or rent this information to any third party.</p>

    <h2>NON-PERSONAL IDENTIFICATION INFORMATION</h2>
    <p>Certain non-personal information is automatically collected and stored when users visit the site, including browser type, computer type, domain, date and time of access, and other technical details. While this information may be used collectively to analyze site traffic, it is not linked to individual users.</p>
    <h2>PERSONAL IDENTIFICATION INFORMATION</h2>
    <p>We may collect personal identification information from users through various means, such as when a user visits our Website, providing IP address and location data, or when a user voluntarily provides personal information, like email address or name, while contacting us. This personal information is used solely for the purpose of responding to user inquiries.</p>
    <p>We do not share user information with any third party outside our organization, except as required to fulfill specific user requests or comply with legal obligations.</p>


    <p>We may disclose personal data when necessary by law or to protect our rights, investigate illegal activity, prevent fraud, or ensure the safety of our Website, users, employees, or others.</p>



    <h1>COOKIES</h1>


    <p>We use "cookies" on this site to enhance user experience, track incoming and outgoing traffic, and improve the functionality of the Website. Cookies are not linked to personally identifiable information on our site.</p>

    <h2>Categories of Cookies</h2>
    <p>Cookies serve various purposes and functions, including technical necessity, storage duration, and placement by us or a third party. Some business partners may use cookies on our site, such as advertisers or analytics services like Google Analytics. Please note that we have no control over these cookies.</p>

    <p>Users can configure their browsers to accept or reject cookies. However, disabling cookies may affect the proper functioning of the Website and our products and services.</p>

    <h1>LINKS</h1>
    <p>This website contains links to other sites. We are not responsible for the content or privacy practices of these external sites. Users are encouraged to read the privacy statements of any site collecting personally identifiable information.</p>




    <h1>SALE OR DISCLOSURE OF PERSONAL INFORMATION</h1>
    <p>Neither the Website nor its owners will sell or disclose any personal information to third parties, except to comply with legal obligations.</p>

    <h1>SECURITY</h1>

    <p>We take precautions to protect user information both online and offline. While we employ reasonable electronic, personnel, and physical measures to secure personal data, users should be aware that no security measure is entirely risk-free.</p>
    <h1>PRIVACY POLICY CHANGES</h1>
    <p>We reserve the right to modify this Privacy Policy. Any changes will be reflected on this page, with the date of the latest version provided. Users are encouraged to regularly check for updates.</p>

    <h1>DO-NOT-TRACK POLICY</h1>
    <p>The Website currently does not respond to Do-Not-Track browser signals or mechanisms, as there is no common understanding of how to interpret such signals.</p>
    <h1>COMPLIANCE WITH CHILDREN’S ONLINE PRIVACY PROTECTION ACT</h1>

    <p>Our Website does not collect or maintain information from individuals under the age of 18, and no part of the Website is structured to attract those under 18. Users providing personal data through the Website affirm that they are 21 years of age or older.</p>

    <p>For any inquiries or questions, please contact us at support@Irishcasinolist.com. We will respond promptly.</p>
</div>